<div >
    Username <input type="text" [(ngModel)]="experience.username" disabled>
    Langue <input type="text" [(ngModel)]="experience.language" disabled>
    Start period <input type="number" [(ngModel)]="experience.start_period">
    End period <input type="number" [(ngModel)]="experience.end_period">
    title <input type="text" [(ngModel)]="experience.title">
    Description <input type="text" [(ngModel)]="experience.description">
    Link <input type="text" [(ngModel)]="experience.link">
    <button (click)="onSaveExperience()">Save</button>
    <button (click)="onRemoveExperience()">Remove</button>
</div>
<hr>